[submodule "external/zeldovich-PLT"]
	path = external/zeldovich-PLT
	url = https://github.com/abacusorg/zeldovich-PLT.git
	branch = master
[submodule "external/fast-cksum"]
	path = external/fast-cksum
	url = https://github.com/abacusorg/fast-cksum.git
	branch = master
[submodule "external/AbacusSummit"]
	path = external/AbacusSummit
	url = https://github.com/abacusorg/AbacusSummit.git
	branch = master
[submodule "external/oneTBB"]
	path = external/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "external/gperftools"]
	path = external/gperftools
	url = https://github.com/gperftools/gperftools.git
[submodule "external/ips4o"]
	path = external/ips4o
	url = https://github.com/ips4o/ips4o.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
