/teststate
*.o
*.pyc
*~
*.so
*.a
*.d
clibs/Makefile
singlestep/singlestep
singlestep/make_multipoles
singlestep/benchmark_io
singlestep/Makefile
singlestep/Direct/Makefile
singlestep/Multipoles/Makefile
Analysis/FoF/Makefile
Convolution/Makefile
Derivatives/Makefile
autom4te.cache/
config.log
config.status
include/config.h
nohup.out
__pycache__/
core
