/teststate
*.o
*.pyc
*~
*.so
*.a
*.d
Library/derivatives
singlestep/singlestep
Makefile.local
singlestep/Makefile
singlestep/Direct/Makefile
Analysis/PowerSpectrum/Makefile
Convolution/Makefile
autom4te.cache/
config.guess
config.log
config.status
config.sub
