[submodule "external/zeldovich-PLT"]
	path = external/zeldovich-PLT
	url = git@github.com:abacusorg/zeldovich-PLT.git
	branch = master
[submodule "external/fast-cksum"]
	path = external/fast-cksum
	url = git@github.com:abacusorg/fast-cksum.git
	branch = master
[submodule "external/AbacusSummit"]
	path = external/AbacusSummit
	url = git@github.com:abacusorg/AbacusSummit.git
	branch = master
[submodule "external/disBatch"]
	path = external/disBatch
	url = git@github.com:flatironinstitute/disBatch.git
[submodule "external/oneTBB"]
	path = external/oneTBB
	url = git@github.com:oneapi-src/oneTBB.git
[submodule "external/gperftools"]
	path = external/gperftools
	url = git@github.com:gperftools/gperftools.git
[submodule "external/PPQSort"]
	path = external/PPQSort
	url = https://github.com/GabTux/PPQSort.git
