# This is a list of Python packages required to use the Abacus Python interface.
# It is in pip format and can be installed with:
# $ pip install -r requirements.txt

# There is also an optional-requirements.txt file in this directory.  To install
# both sets of requirements at the same time, use:
# $ pip install -r requirements.txt -r optional-requirements.txt

wheel
numpy
numexpr
numba
scipy
matplotlib
contexttimer
git+https://github.com/AleksTk/table-logger.git
cffi
abacusutils
scikit-learn
asdf
click
tqdm
pybind11
meson
cmake
ninja
